.App {
  font-family: sans-serif;
  text-align: center;
}
.circlesContainer {
  width: 300px;
  height: 300px;
  flex-wrap: wrap;
  background-color: gray;
  display: flex;
  margin: auto;
}
.circle {
  width: 30%;
  height: 20px;
  background-color: red;
  margin: 5px;
  border-radius: 30%;
  visibility: hidden;
}
